<h1>Hi and welcome</h1>
<p>
my name is Tadej. I'm a software developer from Slovenia, currently living in Dublin. 
This is where I write about things I find interesting: software, sports,
books, life and other stuff I may think of. I try very hard to be witty and funny. It backfires most of the time.

<center>
  <figure>
    <img src="http://imgs.xkcd.com/comics/pointers.png"/>
    <figcaption>Courtesy of <a href="http://xkcd.com">xkcd</a></figcaption>
  </figure>
</center>

<center></center>
</p>
<hr />